
 <ul class="nav nav-tabs nav-stacked">
    <li ng-repeat="post in posts">
	    <a ng-href="#{{post.id}}">
	    	<span>{{post.title}}</span>
	    </a>
	    <span> - </span>
    	<span>{{post.createDate | date:'medium'}}</span>
    	<span> by {{post.userName}}</span>
	    <p>{{post.message}}</p> 
    </li>
 </ul>
 <hr>
 <form ng-submit="postSubmit()" ng-hide="logedUser === undefined">
 <fieldset>
 		<div>
			<label>You are logged as: {{logedUser.name}}</label> <br/><br/>
		</div>
 
		<div>
			<label>Title</label> <br/>
			<input type="text" ng-model="post.title" required /> 

		</div>
		<div>
			<label>Message</label> <br/>
			<textarea ng-model="post.message" rows="6" cols="150" required></textarea>

		</div>
		<div>
			<input type="submit" />
		</div>
	</fieldset>
 
 </form>
 
 <hr>
<pre>
    {{posts | json}}
</pre>