<div class="content">
    <article class="article">
        <div id="content_box">
            <div class="post excerpt" ng-repeat="post in posts">
                <header>
                    <div class="bubble">
                        <a ng-href="#{{post.id}}">{{post.totalReplys}}</a>
                    </div>
                    <h2 class="title">
                        <a ng-href="#{{post.id}}" rel="bookmark">{{post.title}}</a>
                    </h2>
                    <div class="post-info">
                        <span class="theauthor">
                            <a href="#" rel="author">{{post.userName}}</a>
                        </span>
                        <time>{{post.createDate | date:'medium'}}</time>
                        <span class="thecategory">
                            <a href="#" rel="category tag">-</a>
                        </span>
                    </div>
                </header>
                <!--.header-->
                <div class="post-content image-caption-format-1">
                    <p>{{post.message}}</p>
                    <p class="more">
                        <a ng-href="#{{post.id}}">Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </article>
    <aside class="sidebar c-4-12">
        <div id="sidebars" class="g">
            <div class="sidebar">
                <ul class="sidebar_list">
                    <span ng-hide="!(logedUser.name === undefined)">
                        <li class="widget widget-sidebar">
                            <div class="showHideLink">
                                <h3>
                                    <a ng-click="sidePanel = 0">Login</a>
                                </h3>
                                <form ng-submit="loginSubmit()" name="loginSubmitForm" ng-show="sidePanel == 0">
                                    <fieldset>
                                        <div>
                                            <label>E-Mail</label>
                                            <br />
                                            <input type="email" ng-model="login.email" name="email" required />
                                        </div>
                                        <div>
                                            <label>Password</label>
                                            <br />
                                            <input type="text" ng-model="login.password" name="password" required />
                                        </div>
                                        <div>
                                            <input type="submit" />
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </li>
                        <li class="widget widget-sidebar">
                            <div class="showHideLink">
                                <h3>
                                    <a ng-click="sidePanel = 1">Create User</a>
                                </h3>
                                <form ng-submit="userSubmit()" name="userSubmitForm" ng-show="sidePanel == 1">
                                    <fieldset>
                                        <div>
                                            <label>Name</label>
                                            <br />
                                            <input type="text" ng-model="user.name" name="name" required />
                                        </div>
                                        <div>
                                            <label>E-mail</label>
                                            <br />
                                            <input type="email" ng-model="user.email" name="email" required />
                                        </div>
                                        <div>
                                            <label>Password</label>
                                            <br />
                                            <input type="text" ng-model="user.password" name="password" required />
                                        </div>
                                        <div>
                                            <input type="submit" />
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </li>
                    </span>
                    <span ng-hide="logedUser.name === undefined">
                        <li class="widget widget-sidebar">
                            <h3>Welcome {{logedUser.name}}</h3>
                        </li>
                        <li class="widget widget-sidebar">
                            <h3>
                                <a href="#" ng-click="logout()">Log out</a>
                            </h3>
                        </li>
                        <li class="widget widget-sidebar">
                            <h3>Write a post</h3>
                            <form ng-submit="postSubmit()" name="postSubmitForm">
                                <fieldset>
                                    <div>
                                        <label>Title</label>
                                        <br />
                                        <input type="text" ng-model="post.title" name="title" required />
                                    </div>
                                    <div>
                                        <label>Message</label>
                                        <br />
                                        <textarea ng-model="post.message" name="message" required></textarea>
                                    </div>
                                    <div>
                                        <input type="submit" />
                                    </div>
                                </fieldset>
                            </form>
                        </li>
                    </span>
                    <li class="widget widget-sidebar">
                        <recent-posts></recent-posts>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</div>