<div class="content">
	<article class="article">
		<div id="content_box">
			<div class="post excerpt " ng-repeat="post in posts">
				<header>
					<div class="bubble">
						<a href="#">0</a>
					</div>
					<h2 class="title">
						<a ng-href="#{{post.id}}" rel="bookmark">{{post.title}}</a>
					</h2>
					<div class="post-info">
						<span class="theauthor"><a href="#" rel="author">{{post.userName}}</a></span>
						<time>{{post.createDate | date:'medium'}}</time>
						<span class="thecategory"><a href="#" rel="category tag">-</a></span>
					</div>
				</header>
				<!--.header-->
				<div class="post-content image-caption-format-1">
					<p>{{post.message}}</p>
					<p class="more">
						<a href="#">Read More</a>
					</p>
				</div>
			</div>
		</div>
	</article>
	<aside class="sidebar c-4-12">
		<div id="sidebars" class="g">
			<div class="sidebar">
				<ul class="sidebar_list">
					<span ng-hide="!(logedUser.name === undefined)">
						<li class="widget widget-sidebar">
							<h3>
								<a href="#/user">Create User</a>
							</h3>
						</li>
						<li class="widget widget-sidebar">
							<h3>
								<a href="#/authentication">Login</a>
							</h3>
						</li>
					</span>
					<span ng-hide="logedUser.name === undefined">
						<li class="widget widget-sidebar">
							<h3>Welcome {{logedUser.name}}</h3>
						</li>
						<li class="widget widget-sidebar">
							<h3>
								<a href="#/" ng-click="logout()">Log out</a>
							</h3>
						</li>
						<li class="widget widget-sidebar">
							<h3>Write a post</h3>
							<form ng-submit="postSubmit()">
								<fieldset>
									<div>
										<label>Title</label> <br /> <input type="text"
											ng-model="post.title" required />
									</div>
									<div>
										<label>Message</label> <br />
										<textarea ng-model="post.message" required></textarea>

									</div>
									<div>
										<input type="submit" />
									</div>
								</fieldset>
							</form>
						</li>
					</span>
					<li class="widget widget-sidebar">
						<h3>Recent Posts</h3>
						<ul>
							<li ng-repeat="post in posts"><a ng-href="#{{post.id}}"
								rel="bookmark">{{post.title}}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</aside>
</div>

<pre>
    {{posts | json}}
</pre>